@import url(https://fonts.googleapis.com/css?family=poppins:wht@200;300;400;500;600;700&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body {
    background:#f2f2f2;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #333 ;
    z-index:100;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.navbar{
    justify-content: space-between;
}
.nav-links {
    gap: 20px;
    list-style: none;
}    
.navbar a {
    padding: 20px 0;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform:capitalize;
    transition: 0.2s;
}
.navbar a:hover{
    color:#ddd
}
/* Homepage */
.homepage{
    position:relative;
    height:100vh;
    width:100%;
    background: url("https://www.tripsavvy.com/thmb/N5hFBFt_9DXlq77TunVXKYs1fs0=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/sunrise-camping--676019412-5b873a5a46e0fb0050f2b7e0.jpg");
    background-position: center;
    background-size: cover;
}
.homepage::before{
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    background:rgba(0,0,0,0.2);
}
.homepage .content{
    position: relative;
    height:85%;
    flex-direction: column;
    justify-content: center;
    
    
}
.homepage.text{
    color: #fff;
    text-align: center;
}
.homepage.text h1{
    font-size:80px ;
    font-weight: 700;
    margin-bottom: 50px;
}
.homepage a{
    color: #333;
    text-decoration: none;
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin:20px;
    border: 2px solid #fff;
    box-shadow: rgba(0,0,0,0.3) 05px 10px;
    font-size: 18px;
    transition: 0.3s;
}
.homepage a:hover{
    color:#fff;
    background: rgb(255,255,255,0.3);

}
section{
    padding-top:80px;
}
section .title {
    text-align: center;
}
section h2{
    font-size: 2rem;
}
section .cards {
    margin-top:50px;
    flex-wrap: wrap;
    justify-content: space-between;
}
section .card{
    width: calc( 100% / 3 -30px);
    text-align: center;
    list-style: none;
    background-color: #fff;
    padding: 40px 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    margin-bottom: 40px;
}
section .card img{
    height:120px;
    width:120px;
    border-radius: 50%;
    margin-bottom: 20px;
}
section .card p{
    margin-top: 5px;
}
/* Portfolio */
.portfolio .cards{
    padding: 0 0 20px;
}
.portfolio .card img{
    height: 240px;
    width: 100%;
    border-radius: 8px 8px 0 0;
}
/* About */
.about .company-info{
    margin-top: 30px;
}
.about .row{
    padding:0 10px;
}
.about h3{
    margin:30px 0 10px;
}
.about ul{
    padding-left: 20px;
}
/* Contact */
.contact .row{
    justify-content: space-between;
    margin: 60px 0 90px;
}
.contact .row .col{
    padding:0 10px;
    width:calc(100% / 2-50px);
}
.contact .row .col p{
    color: #7a7a7a;
    margin-bottom: 10px;
}
.conact .row .col p i{
    margin-right: 10px;
}
.contact .form input{
    width:100%;
    height:45px;
    margin-bottom:20px;
    padding:0 15px;
    border:1px solid #bfbfbf;
    outline: none;
}
.contact .form textarea{
    width:100%;
    height:150px;
    padding:15px;
    outline:none;
    resize:none;
    border:1px solid #bfbfbf;
}
.contact .form button{
    padding:10px 20px;
    border-radius: 5px;
    font-size: 17px;
    color: #fff ;
    border:none;
    margin-top: 10px;
    background: #333 ;
    cursor:pointer;  
    transition: 0.2s;
}
.contact .form button:hover{
    background: #555 ;
}
/* Footer */
.footer{
    background: #333 ;
    padding:20px 0;
    text-align: center;
    color: #fff ;
}
#menu-toggle{
    display:none;
}
/* Responsive */
.navbar .nav-links{
    left:0;
    position:fixed;
    top:65px;
    height:100%;
    display:block;
    background: #333;
    width:200px;
    padding-left:12px;
    padding-top:30px;
    left:-100%;
    transition: all 0.4s ease;
}
.navbar .nav-links li{
    font-size: 18px;
}
#menu-toggle:checked ~ .nav-links{
    left:0;
}
#hamburger-btn {
    font-size: 24px;
    color: #fff ;
    cursor: pointer;
}
section .cards .card{
    width:calc(100% / 2 - 15px);
    margin-bottom: 30px;
}
.contact .row{
    flex-direction: column;
}
.contact .row .col{
    width: 100%;
}
.contact .row .col:last-child{
    margin-top:40px;
}
.homepage .text h1{
    font-size: 50px;
}
section h2{
    font-size: 1.5rem;
}




